services:
  db:
    image: postgres:18.0
    restart: always
    # set shared memory limit when using docker compose
    shm_size: 256mb
    # or set shared memory limit when deploy via swarm stack
    #volumes:
    #  - type: tmpfs
    #    target: /dev/shm
    #    tmpfs:
    #      size: 134217728 # 128*2^20 bytes = 128Mb
    ports:
      - "15432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./data:/shared  # Добавляем общую папку
    environment:
      POSTGRES_USER: alex
      POSTGRES_PASSWORD: MySecretPassword1!
      POSTGRES_DB: aoc

volumes:
  postgres_data:
    name: postgres_data_volume
